.hljs {
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.nav-pills>li a.active {
   border-radius: 10px; 
}



.list-controls .combo-box .combo-box-header {
    border-radius: 10px;   
}

.alert {
  border-radius: 15px;   
}

.menu-panel {
   border-radius: 10px;    
}

.nav-pills>li>a {
  border-radius: 20px;  
}

.composer-popup {
    border-radius: 10px;  
}

.user-stream .notification.unread {
    border-radius: 10px; 
}

.select-kit .select-kit-header {
    border-radius: 10px; 
}

.form-vertical input {
    border-radius: 10px; 
}

.root {
   border-radius: 10px;  
}

.badge-card {
     border-radius: 10px; 
}
.nav-stacked li {
  border-radius: 10px;   
}

.select-kit.is-expanded .select-kit-body {
  border-radius: 10px;    
}

.emoji-picker {
 border-radius: 10px;  
}

.blockquote {
    border-radius: 10px;  
}

.user-main {
  border-radius: 10px;    
}


.user-card .badge-section .user-badge, .user-card .badge-section .more-user-badges a {
  border-radius: 10px;     
}

.modal-inner-container {
  border-radius: 10px;      
}

.cooked>*:first-child, .d-editor-preview>*:first-child {
  border-radius: 10px; 
}

.topic-map {
   border-radius: 10px;  
}

.alert.alert-info {
   border-radius: 10px;  
}

.groups-boxes .group-box{
  border-radius: 15px;   
}

.group-details-container  {
   border-radius: 10px;    
}